body {
  text-align: center;
  height: 100vh;
  background: linear-gradient(180deg, #04176b 0%, rgba(103, 16, 103, 0) 100%), #4E018A;

}
h1 {
  position: absolute;
  width: 100px;
  height: 150px;
  left: 530px;
  top: 1px;

  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 116px;

  color: #FFFFFF;
}
b {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 65px;
  top: 175px;
  white-space: nowrap;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: 750;
  font-size: 30px;
  line-height: 30px;

  color: #FFFFFF;
}
h2 {
  position: relative;
  width: 20px;
  height: 20px;
  left: -10px;
  top: 150px;
  white-space: nowrap;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: small;
  line-height: 30px;

  color: #ffffff;
}

h3 {
  position: relative;
  width: 20px;
  height: 20px;
  left: -10px;
  top: 350px;
  white-space: nowrap;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: small;
  line-height: 30px;

  color: #ffffff;
}

hr {
  position: absolute;
  top: 360px;
  left: 125px;
}

hr {
  size: 2%;
  width: 50%;
  color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  border: solid;
  font-size: 19px;
  border-top-width: 1px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: white;
}