body {
  text-align: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #faf3e8 0%, rgba(103, 16, 103, 0) 100%), #ffffff;
}

a:link, a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none; 
}

a:hover, a:active {
  color: rgb(0, 0, 0);
}

a.button {
  display: inline-block;
  padding: 2px 4px;
  background-color: #000000; 
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 5px;
}

a.button:hover {
  background-color: #23b85e; 
}

.index-container, .tekst-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.div-class0, .div-class1, .div-class2, .div-class3 {
  flex: 1;  /* Equal width and space distribution */
  display: flex;
  justify-content: center;  /* Center content horizontally */
  align-items: center;      /* Center content vertically */
  
}

.div-tekst0, .div-tekst1, .div-tekst2, .div-tekst3 {
  flex: 1;  /* Match the layout with the image divs */
  text-align: center;  /* Ensure text is centered */
  font-size: larger;
  margin: 10px auto;
}

.form {
  position: relative;
  margin: 30px auto;
  padding: 35px 0;
  border: 1.75px solid #827467;
  border-radius: 8px;
  width: 800px;
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
  font-size: large;
}

p {
text-align: left;
}

h1 {
  font-family: 'Open sans', sans-serif; /* Specifies the font family */
  padding-bottom: 20px;
  padding-top: 20px;
}
